@media (max-device-width: 500px) {
    .modalMargin {
        margin: 25vh 5% 0 !important;
    }

    .overlay #content {
        width: 90%;
    }
}


@media (min-device-width: 501px) and (max-device-width: 650px) {
    .modalMargin {
        margin: 25vh 10% 0 !important;
    }

    .overlay #content {
        width: 80%;
    }
}

@media (min-device-width: 651px) and (max-device-width: 799px) {
    .modalMargin {
        margin: 25vh 15% 0 !important;
    }

    .overlay #content {
        width: 70%;
    }
}

@media (max-device-width: 799px) {
    body {
        font-size: 14px;
    }

    #left-sidebar {
        padding-left: 3vw;
        width: 40vw;
    }

    #left-sidebar h2 {
        padding-bottom: 1vh;
    }

    #left-sidebar p {
        padding: 1vh 0;
    }

    #left-sidebar .buttons {
        padding-bottom: 1vh;
    }

    #elements .element {
        margin-top: 1vh;
    }

    #elements .element .text {
        line-height: 1.1em;
        overflow: hidden;
    }

    .close {
        height: 30px;
        width: 30px;
        top: 15px;
        right: 15px;
    }

    .overlay .close {
        top: -15px;
        right: -15px;
    }
}

@media (max-device-width: 799px) and (min-device-height: 800px) {

}

@media (min-device-width: 800px) and (max-device-width: 949px){
    body {
        font-size: 15px;
    }

    #left-sidebar {
        padding-left: 3vw;
        width: 40vw;
    }

    #left-sidebar h2 {
        padding-bottom: 5px;
    }

    #left-sidebar p {
        padding: 5px 0;
    }

    #left-sidebar .buttons {
        padding-bottom: 8px;
    }

    #elements .element {
        margin-top: 5px;
    }

    #elements .element .text {
        line-height: 1.1em;
        overflow: hidden;
    }

    .close {
        height: 30px;
        width: 30px;
        top: 15px;
        right: 15px;
    }

    .overlay #content {
        width: 60%;
    }

    .overlay .close {
        top: -15px;
        right: -15px;
    }

    .modalMargin {
        margin: 25vh 20% 0 !important;
    }
}

@media (min-device-width: 950px) and (max-device-width: 1023px) {
    body {
        font-size: 16px;
    }

    #left-sidebar {
        padding-left: 4vw;
        width: 40vw;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1199px) {
    body {
        font-size: 17px;
    }

    #left-sidebar {
        padding-left: 4vw;
        width: 40vw;
    }
}

@media (min-device-width: 1200px) {
    body {
        font-size: 17px;
    }

    #left-sidebar {
        padding-left: 4vw;
        width: 37vw;
    }
}

@media (min-device-width: 1400px) {
    body {
        font-size: 18px;
    }

    #left-sidebar {
        padding-left: 4vw;
        width: 35vw;
    }
}